[submodule "project1"]
	path = project1
	url = ./project1
[submodule "project2"]
	path = project2
	url = ./project2
[submodule "project3"]
	path = project3
	url = ./project3
[submodule "project4"]
	path = project4
	url = ./project4
[submodule "project5"]
	path = project5
	url = ./project5
